.navigation__link, .footer-navigation__links a, .logo-path {
  transition: all 0.4s ease-out;
}

.promo__text, .footer-navigation__links, .link-button, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

.button, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #173a56;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

.hamburger {
  display: none;
  position: relative;
  width: 31px;
  height: 25px;
  margin-right: 37px;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
@media (max-width: 414px) {
  .hamburger {
    margin-right: 61px;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  left: 0;
  bottom: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0s;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.ico_play {
  background-image: url("../../assets/icons/triangle.svg");
  width: 18px;
  height: 19px;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

h1 {
  font-size: 4.4rem;
  line-height: 5.4rem;
  font-weight: bold;
  font-style: normal;
}
@media (max-width: 414px) {
  h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: bold;
    font-style: normal;
  }
}

h2 {
  font-size: 3.4rem;
  line-height: 4.6rem;
  font-weight: bold;
  font-style: normal;
}
@media (max-width: 414px) {
  h2 {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: bold;
    font-style: normal;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: bold;
  font-style: normal;
}
@media (max-width: 414px) {
  h3 {
    font-size: 2.1rem;
    line-height: 3.1rem;
    font-weight: bold;
    font-style: normal;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 768px) {
  h4 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    font-style: normal;
  }
}

h5 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.block-shadowed {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.button {
  padding: 11px 25px 13px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.button_bordered {
  background: #ffffff;
  border: 1px solid #bcd0e5;
  color: #173a56;
}
.button_bordered:hover {
  background: #bcd0e5;
  border-color: #bcd0e5;
}
.button_colored {
  background: #ff9900;
  color: #ffffff;
  border: 1px solid #ff9900;
}
.button_colored:hover {
  background: #ff7549;
  border-color: #ff7549;
}

.link-button {
  color: #ff9900;
  display: inline-flex;
  align-items: center;
}

.link-button__text {
  margin-left: 9px;
}
.link-button__text:hover {
  color: #ff7549;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-object {
  width: 160px;
}

.logo-svg {
  cursor: pointer;
}
.logo-svg:hover .logo-path {
  fill: #ff9900;
}

.logo {
  display: flex;
  align-items: center;
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 7px;
}

.tag {
  border-radius: 90px;
  padding: 0 14px;
  font-size: 1.3rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
}
.tag_selected {
  background-color: #ff9900;
  color: #ffffff;
}
.tag_bordered {
  border: 1px solid #bcd0e5;
}
.tag_colored {
  background-color: #f5f5f5;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  padding: 15px 0 17px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding-left: 24px;
  }
}

.header__logo-line {
  display: flex;
  align-items: center;
}
@media (max-width: 414px) {
  .header__logo-line {
    justify-content: space-between;
  }
}

.header_buttons {
  display: flex;
  gap: 14px;
}
@media (max-width: 414px) {
  .header_buttons {
    display: none;
  }
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}
@media (max-width: 1197px) {
  .wrapper {
    padding: 0 46px;
  }
}
@media (max-width: 414px) {
  .wrapper {
    padding: 0 21px;
  }
}

.footer {
  padding: 60px 0 70px;
}
@media (max-width: 414px) {
  .footer {
    padding: 31px 0;
  }
}

.footer_wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .footer_wrapper {
    flex-direction: column;
  }
}

.footer-navigation {
  padding-left: 152px;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .footer-navigation {
    padding-left: 0;
    margin-top: 34px;
  }
}
@media (max-width: 414px) {
  .footer-navigation {
    flex-direction: column;
  }
}

.footer-navigation__title {
  margin: 0 0 15px;
}

.footer-navigation__links {
  padding: 0;
  list-style: none;
}
.footer-navigation__links a {
  color: #544837;
  font-size: 1.6rem;
  line-height: 3.5rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.footer-navigation__links a:hover {
  color: #ff9900;
}

.about-us {
  padding: 30px 0 100px;
}

.about-us__title {
  margin: 0 0 14px;
}

.about-us__description {
  margin: 0 0 45px;
}

.employee {
  position: relative;
  padding: 35px;
  width: calc(30% - 32px);
}

.employee-container {
  padding-right: 32px;
}

.employee_photo {
  width: 98px;
  height: 98px;
  border-radius: 50%;
}

.employee__name {
  margin: 0;
}

.employee__title {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

.employee__contact {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: normal;
  font-style: normal;
  color: #1943ef;
  text-decoration: none;
}
.employee__contact:hover {
  text-decoration: underline;
}

.employee_photo {
  position: absolute;
  top: 20px;
  right: -32px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.contact-us {
  background-color: #ffeee1;
  padding: 62px 0;
}
@media (max-width: 768px) {
  .contact-us {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contact-us-container {
    flex-direction: column;
  }
}

.contact-us_form input,
.contact-us_form textarea {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 10px;
}
.contact-us_form input:focus,
.contact-us_form textarea:focus {
  border-color: #ff9900;
  outline: none;
}
.contact-us_form textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

.contact-us_line {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 19px;
}
@media (max-width: 414px) {
  .contact-us_line {
    flex-direction: column;
    margin-bottom: 0;
  }
  .contact-us_line > * {
    margin-bottom: 19px;
  }
}

.contact-us__button > * {
  min-width: 117px;
}
@media (max-width: 414px) {
  .contact-us__button {
    margin-top: 24px;
  }
}

.contact-us__adress {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .contact-us__adress {
    justify-content: center;
  }
}

.contact-us__phone {
  margin: 30px 0 19px;
}

.ico {
  display: flex;
  align-items: center;
  margin-right: 11px;
}

.contact-us__reference {
  color: #544837;
  text-decoration: none;
  font-size: 2.5rem;
  line-height: 2.6rem;
  font-weight: normal;
  font-style: normal;
}

.contact-us_content {
  max-width: 520px;
}
@media (max-width: 768px) {
  .contact-us_content {
    max-width: 100%;
    margin-bottom: 52px;
  }
}

.promo {
  padding: 30px 0;
  overflow: hidden;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 414px) {
  .promo__wrapper {
    flex-direction: column-reverse;
  }
}

.promo__content {
  padding-right: 65px;
}
@media (max-width: 768px) {
  .promo__content {
    padding-right: 0;
  }
}
@media (max-width: 414px) {
  .promo__content {
    text-align: center;
  }
}

.promo_title {
  margin: 0 0 30px;
}

.promo__text {
  max-width: 487px;
  margin: 0 0 45px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 768px) {
  .promo__text {
    width: 300px;
  }
}
@media (max-width: 414px) {
  .promo__text {
    width: auto;
  }
}

.promo__buttons {
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.promo__buttons > * {
  margin-right: 44px;
}
.promo__buttons:last-child {
  margin-right: 0;
}
@media (max-width: 414px) {
  .promo__buttons {
    flex-direction: column;
  }
  .promo__buttons > * {
    margin-right: 0 px;
    margin-bottom: 26px;
  }
  .promo__buttons > *:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 414px) {
  .promo__image {
    max-width: 100%;
  }
}

.navigation {
  display: flex;
  font-size: 15px;
  line-height: 28px;
}

.navigation__link {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #ff9900;
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.tools__wrapper {
  background-position: center bottom;
  background-size: 100%;
  background-image: url(../../assets/Bg.png);
  padding-bottom: 90px;
  background-repeat: no-repeat;
}

.tools_title {
  max-width: 462px;
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
}

.tool_title {
  margin: 0 0 16px;
}

.tool__icon {
  margin-bottom: 30px;
}

.tools__button {
  margin-top: 60px;
  text-align: center;
}
@media (max-width: 414px) {
  .tools__button {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .tool-container {
    flex-wrap: wrap;
  }
  .tool-container > .tool {
    flex-basis: 43%;
  }
}
@media (max-width: 414px) {
  .tool-container > .tool {
    flex-basis: 100%;
    margin-bottom: 47px;
  }
}

@media (max-width: 768px) {
  .tool {
    text-align: center;
  }
}

.strategies {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .strategies {
    text-align: center;
  }
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .strategies__tags {
    justify-content: center;
  }
}

.strategy-wrapper > * {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .strategy-wrapper > * {
    width: 48%;
    flex-basis: 48%;
  }
}
@media (max-width: 414px) {
  .strategy-wrapper > * {
    flex-basis: 100%;
  }
}

.strategy {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
@media (max-width: 768px) {
  .strategy {
    overflow: hidden;
  }
}

.strategy-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 24px 33px 26px;
}

.strategy__name {
  flex-grow: 1;
  text-align: left;
  margin: 0 0 29px;
}

/*# sourceMappingURL=style.css.map */
