.contact-us {
  background-color: $color-background;
  padding: 62px 0 82px;
}

.contact-us_form {
  input,
  textarea {
    border: 1px solid $color-light;
    background-color: $color-light;
    padding: 10px 21px;
    border-radius: 10px;
    &:focus {
      border-color: $color-primary;
      outline: none;
    }
  }
  textarea {
    resize: none;
    width: 100%;
    height: 160px;
  }
}

.contact-us_line {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 19px;
}

.contact-us__button {
  > * {
    min-width: 117px;
  }
}

.contact-us__adress {
  display: flex;
  align-items: center;
}

.contact-us__phone {
  margin: 30px 0 19px;
}
.ico {
  display: flex;
  align-items: center;
  margin-right: 11px;
}
.contact-us__reference {
  color: $color-text;
  text-decoration: none;
  @include font($size: 2.5rem, $height: 2.6rem, $weight: normal);
}
